GITHUB_API_URL=https://api.github.com
ARGOCD_NAMESPACE=openshift-gitops
ACME_DIRECTORY_URL=https://ca.company.com/acme/directory
OAUTH2_CLIENT_ID=oauth2-proxy
OAUTH2_CLIENT_SECRET=ZagakvF7MSlQw3e8myAluGtCynpef7Y0
OAUTH2_COOKIE_SECRET=P6TGLDH9R7klmYdzwPzlnv6v+fVFa9xO
OAUTH2_OIDC_ISSUER_URL=https://keycloak-local.apps-crc.testing/realms/df-sim
OAUTH2_REDIRECT_URL=https://basic-app-basic-app.apps-crc.testing/oauth2/callback
OAUTH2_ALLOWED_GROUPS=group1,group2
ROUTE_HOST=basic-app-basic-app.apps-crc.testing
CONTAINER_REGISTRY=ghcr.io
CONTAINER_REPOSITORY=tamfrost/basic-app
CONTAINER_REGISTRY_USERNAME=tamfrost
CONTAINER_REGISTRY_PAT=ghp_...
INFRA_REGISTRY=https://github.com/tamfrost/infra
HELM_CHART_PATH=helmcharts/basic-app
CLIENT_CERT_FILE=certs/client/ca-cert.pem
PROVIDER_CERT_FILE=certs/ca-bundle.crt
CA_ROOT_CERT_FILE=certs/ca-root/CRC-root-ca.crt
CA_ROOT_CERT_KEY=certs/ca-root/CRC-root-ca.key
GITHUB_APP_ID=3507219
GITHUB_APP_INSTALLATION_ID=127170308
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----"
