GITHUB_REPO_NAME=basic-app
GITHUB_REPO_OWNER=tamfrost
CONTAINER_REGISTRY=ghcr.io
CONTAINER_REPOSITORY=tamfrost/basic-app
CONTAINER_REGISTRY_USERNAME=tamfrost
CONTAINER_REGISTRY_PAT=ghp_...
INFRA_REGISTRY=https://github.com/tamfrost/infra
HELM_CHART_PATH=helmcharts/df-sim
GITHUB_APP_ID=3507219
GITHUB_APP_INSTALLATION_ID=127170308
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----"
